@page
@model DeleteModel
@{
    ViewData["Title"] = "Изтриване на поръчка";
}

<h2 style="text-align:center">Изтриване на поръчка</h2>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h4>@TempData["ErrorMessage"]</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Id" class="form-control hidden" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerName">Име на клиента</label>
                        <input asp-for="CustomerName" class="form-control" disabled />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustormerPhoneNumber">Телефон</label>
                        <input asp-for="CustormerPhoneNumber" class="form-control" disabled />
                        <span asp-validation-for="CustormerPhoneNumber" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Comment">Коментар</label>
                        <input asp-for="Comment" type="text" class="form-control" disabled />
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status">Статус</label>
                        <select class="form-control" name="Status" disabled>
                            <option class="bg-warning" selected="@HtmlHeleper.IsSelected(Status.Waiting, Model.Status)" value="@Status.Waiting">Чакаща</option>
                            <option class="bg-info" selected="@HtmlHeleper.IsSelected(Status.Stated, Model.Status)" value="@Status.Stated">Заявена стока</option>
                            <option class="bg-success" selected="@HtmlHeleper.IsSelected(Status.Completed, Model.Status)" value="@Status.Completed">Потготвена</option>
                            <option class="bg-danger" selected="@HtmlHeleper.IsSelected(Status.Refused, Model.Status)" value="@Status.Refused">Отказана</option>
                            <option class="bg-secondary" selected="@HtmlHeleper.IsSelected(Status.Reserved, Model.Status)" value="@Status.Reserved">Пловдив</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>